// START OF normalizev8.01.css
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    margin: .67rem 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1rem
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1rem
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25rem
}

sup {
    top: -.5rem
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35rem .75rem .625rem
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

// END OF normalizev8.01.css

// START OF MY SASS VARIABLES
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Helvetica Neue",
"Arial",
"Noto Sans",
"Verdana",
sans-serif;

$maxwidth: 80rem;

$palette-d:rgb(0, 0, 139);
$palette-n: rgb(0, 62, 249);
$palette-l:rgb(239, 247, 255);

$black-d:rgb(0, 0, 0);
$black-n:rgba(0, 0, 0, 0.9);
$black-l:rgba(0, 0, 0, 0.7);

$white-l:rgb(255, 255, 255);

$grey-d:rgb(128, 128, 128);
$grey-n: rgb(181, 181, 181);
$grey-l: rgb(220, 220, 220);

// END OF MY SASS VARIABLES
body {
    text-align: left;
    max-width: 80rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Verdana", sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    color: #003ef9;
}

main {
    z-index: 1;
    position: absolute;
    max-width: 80rem;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 5.25rem 0 0 0;
}

// This div combined with # to make nav href work
div {
    position: relative;
}

#home,
#about,
#services,
#topics,
#news,
#contact {
    position: absolute;
    top: -4.5rem;
}

img {
    border-radius: 1rem;
}

.blue-text-white-bg {
    color: #003ef9;
    background-color: white;
}

.blue-text-liteblue-bg {
    color: #003ef9;
    background-color: #eff7ff;
}

.white-text-blue-bg {
    color: white;
    background-color: #003ef9;
}

.blue-text-blue-bg {
    background-color: #003ef9;
    color: #003ef9;
}

a,
a:visited,
svg:visited {
    color: inherit;
    font-weight: normal;
    stroke: currentColor;
    fill: currentColor;
    text-decoration: none;
}

.a-deco {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    padding: 0 0 0 1.5rem;
}

ul li:first-child {
    margin-top: -0.5rem;
}

.header {
    z-index: 10;
    max-width: 1280px;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    background-color: white;

    img {
        position: relative;
        visibility: hidden;
        display: none;
        width: 140px;
        margin-bottom: -0.1rem;
        margin-left: .2rem;
        border-radius: 0;
        float: left;
    }

    .large-text {
        display: inline;
        font-size: 1rem;
        font-weight: bold;
    }

    .small-text {
        display: inline;
        font-size: 0.75rem;
        font-weight: normal;
    }

    .navbar {
        margin: 0.2rem auto;
        text-align: center;
        stroke: currentColor;
        fill: currentColor;
        border-bottom: 2px solid #b5b5b5;

        a {
            padding: auto;
            margin: 0 0.25rem;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: text-bottom;
            display: none;
        }
    }
}

.homepage {
    width: 96%;
    margin: auto;
    text-align: center;

    .fallback {
        widows: 95%;
        display: inline-block;

        div,
        img {
            width: 90%;
            display: inline-block;
        }

        h2,
        h3 {
            margin-bottom: -0.75rem;
        }

        a {
            color: white;
            background-color: #003ef9;
            text-decoration: none;
            font-weight: bold;
            height: 1.5rem;
            width: 7.5rem;
            padding: .75rem;
            border-radius: 2rem;
            border: solid 2px darkblue;
            box-shadow: 7px 7px 4px darkblue;
        }
    }

    .extra {
        display: none;
    }
}

.section-head {
    text-align: center;
    padding: 1.75rem 0;
    border-top: 2px solid;

    &.small {
        padding: 1rem 0 0 0;
        ;
    }

    svg {
        width: 4rem;
        height: 4rem;
        margin-bottom: -1.25rem;
        stroke: currentColor;
        fill: currentColor;
    }
}

// Flexbox and Multicon formatting 
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0.5rem;
}

.grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.75rem;
    padding: 0.25rem;
    justify-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-style: solid;
    border-radius: 2rem;
}

.two-col {
    max-width: 400px;

    .text {
        text-align: left;
    }
}

.three-col {
    max-width: 18rem;

    .text {
        text-align: center;
        min-height: 7rem;
    }
}

.content {
    padding: 0 1rem;

    .logo {
        min-width: 14.5rem;
        height: 4.5rem;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem 0.25rem 0 0.25rem;
        border-style: solid;
        border-width: .2rem;
        border-radius: 2rem;

        svg {
            width: 3rem;
            height: 3rem;
            stroke: currentColor;
            fill: currentColor;
        }

        p {
            text-align: center;
            font-size: 1rem;
            margin-top: -0.4rem;
            font-weight: bold;
        }

        #w4icon {
            width: 6rem;
        }
    }
}

.readmore {
    height: 1.5rem;
    width: 8rem;
    text-align: center;
    margin: 0.5rem;
    padding: .75rem;
    border-radius: 2rem;

    .btn {
        text-decoration: none;
        font-weight: bold;
    }
}

.white-bg {
    color: #003ef9;
    border: solid 2px #003ef9;
    box-shadow: 7px 7px 4px #b5b5b5;
}

.blue-bg {
    color: white;
    border: solid 2px darkblue;
    box-shadow: 7px 7px 4px darkblue;
}

.contact {
    text-align: center;
    margin: 0 auto;
    padding: 0 0.25rem 1rem 0.25rem;
    border-top: solid 1px;

    p {
        margin: 0.25rem;
    }

    .text-svg {
        margin-top: 1rem;

        svg {
            width: 2rem;
            vertical-align: bottom;
            stroke: currentColor;
            fill: currentColor;
        }
    }

    img {
        border-radius: 0;
        max-width: 95%;
        box-shadow: 10px 10px 5px #b5b5b5;
    }
}

.formtext {
    font-size: 0.75rem;
    width: 80%;
}

.form-btn {
    color: gray;
    font-weight: bold;
    background-color: white;
    display: block;
    height: 2.5rem;
    margin: auto;
    padding: 0.75rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px #b5b5b5;
}

.footer {
    text-align: center;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;

    .box {
        float: left;
        width: 33%;
        margin: auto;
        font-size: .6rem;

        img {
            border-radius: 0;
            margin-top: 0.5rem;
        }
    }
}

@media screen and (min-width: 420px) {

    body,
    .formtext {
        font-size: 0.875rem;
    }

    .header {

        .large-text {
            font-size: 1.25rem;
        }

        .small-text {
            font-size: 0.875rem;
        }

        .navbar a {
            margin: 0 0.75rem;
        }
    }
}

@media screen and (min-width: 780px) {

    body,
    .formtext {
        font-size: 1rem;
    }

    .header {
        img {
            position: relative;
            display: inline;
            visibility: visible;
        }

        .large-text {
            font-size: 1.5rem;
        }

        .small-text {
            font-size: 1rem;
        }

        .navbar {
            svg {
                position: relative;
                display: inline;
                visibility: visible;
            }

            a {
                margin: 0 1.35rem;
            }
        }
    }

    .homepage {

        .fallback {
            width: 50%;
            float: left;
        }

        .extra {
            width: 25%;
            float: left;
            display: block;
            visibility: visible;


            [class^="extra-img-"] {
                width: 100%;
                object-fit: contain;
            }

            .extra-img-1,
            .extra-img-2 {
                margin-top: 30%;
            }

            .extra-img-4,
            .extra-img-5 {
                margin-top: 30%;
            }

            .extra-img-3,
            .extra-img-6 {
                margin-top: 30%;
            }
        }
    }

    .two-col {
        min-width: 360px;
        max-width: 490px;
    }
}

@media screen and (min-width: 1000px) {
    main {
        margin: 1.5rem auto;
    }

    body,
    .formtext {
        font-size: 1.125rem;
    }

    .header .navbar a {
        margin: 0 2.25rem;
    }

    .homepage {

        .fallback {
            width: 56%;
        }

        .extra {
            width: 22%;


            .extra-img-1,
            .extra-img-2 {
                margin-top: 20%;
            }

            .extra-img-4,
            .extra-img-5 {
                margin-top: 20%;
            }

            .extra-img-3,
            .extra-img-6 {
                margin-top: 20%;
            }
        }
    }
}

// Fallback grid for non-flexbox browsers
@supports not (display: flex) {

    .grid {
        padding: 3rem;
    }

    .grid-item {
        margin: 1rem auto;
        padding: 1rem;
        border-style: solid;
        border-radius: 2rem;
    }

    .readmore {
        margin: auto;
    }

    .two-col {
        width: 96%;
    }

    .three-col {
        max-width: 18rem;
    }
}